@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
@import url('../src/blocks/page/page.css');
@import url('../src/blocks/header/header.css');
@import url('../src/blocks/logo/logo.css');
@import url('../src/blocks/content/content.css');
@import url('../src/blocks/profile/profile.css');
@import url('../src/blocks/elements/elements.css');
@import url('../src/blocks/element/element.css');
@import url('../src/blocks/footer/footer.css');
@import url('../src/blocks/pop-up/pop-up.css');
@import url('../src/blocks/image-popup/image-popup.css');
@import url('../src/blocks/pops-visible/pops-visible.css');